{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>Search posts</h1>
<br/><br/>


<form method=POST>
    {% csrf_token %}
    <input type="input" class="form-control" placeholder="Search posts here" name="search">
    <br/><br/>
    <button type="submit" class="btn btn-secondary">Search a post</button>
</form>
<br/><br/>

{% if search %}
    <h3>You searched for: {{ search }}</h3>

    {% for blog_post in searched %}
        
        <div class="alert alert-dark" role="alert">
                <div class="container">
                    <div class="row">
                        <div class="col-1">
                            {% if blog_post.user.profile.profile_image %}
                              <img src="{{ blog_post.user.profile.profile_image.url }}" width=50 height=50 class="rounded-circle" alt="{{ profile.user.username }}">
                            {% else %}
                              <img src="{% static "images/profile_pic.png" %}" width=50 height=50 class="rounded-circle" alt="{{ profile.user.username }}">
                            {% endif %}
                        </div>
            <div class="col-10">
              {{ blog_post.body }}
              <br/>
              <small class="text-muted">
                  ({{ blog_post.created_at }}) By <a href="{% url 'profile' blog_post.user.id %}" style="text-decoration: none; color: inherit;">@{{ blog_post.user.username|lower }}</a>
                  - {{ blog_post.number_of_likes }} - &nbsp;&nbsp;
                  {% if user in blog_post.likes.all %}
                    <a href="{% url "blog_post_like" blog_post.id %}">
                        <i class="fa-solid fa-heart" style="color:grey"></i></a>&nbsp;&nbsp;
                    {% comment %} Dislike a post {% endcomment %}
                  {% else %}
                    <a href="{% url "blog_post_like" blog_post.id %}">
                        <i class="fa fa-heart-o" style="color:grey"></i></a>&nbsp;&nbsp;
                    {% comment %} Like a post {% endcomment %}
                  {% endif %}
                    <a href="{% url "blog_post_share" blog_post.id %}">
                        <i class="fa fa-share-alt" style="color:grey"></i></a>
              </small>
              </div>
              <br/><br/>
            </div>
          </div>
        </div>

    {% endfor %}

{% endif %}

{% endblock content %}